body {
    margin: 0px;
    text-align: center;
    font-family: roboto, 'Times New Roman', Times, serif;
    font-size: 14px;
    color: rgb(29,29,31);
    
}
.navbar {
    height: 48px;
    background-color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    width: 100%;
}

.navbar-a { 
    color:#f5f5f7;
    text-decoration: none;
    position: relative;
    bottom: 35%;
    margin: 0% 3%;
}

.navbar-a:hover {
    color: #cdcdcd;
}

.nav-img {
    height: 85%;
    margin: 0% 3%;
}

.new {
    color: red;
    margin: 0px;
}

h1 {
    font-size: 72px;
    margin: 0px;
}

h4 {
    font-size: 26px;
    margin: 0px;
}

.price {
    font-weight: lighter;
    font-size: 16px;
    margin: 10px;
}

.buy-button {
    background-color: rgb(0, 113, 227);
    border: none;
    color: white;
    width: 100px;
    height: 35px;
    border-radius: 50px;
    font-size: 15px;
    outline: inherit;
}

.more-info {
    text-decoration: none;
    margin: 10px;
    font-size: 16px;
}

.more-info:hover {
    text-decoration: underline;
}

.macbook-img {
    margin: 80px 0 0 0;
    width: 70%;
}

.box-images {
    margin-top: 100px;
    display: block;
}

.box-div {
    display: inline-table;
    width: 48%;
    margin: 0 7px;
    background-color: rgb(242, 242, 242);;
}

.box-img {
    max-width: 100%;
}

.img1 {
    margin-top: 80px;
}

.img2 {
    max-width: 58%;
    margin-top: 50px;
}

h2 {
    font-size: 40px;
    display: block;
    font-weight: bold;
    padding: 0 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.box-title {
    margin-top: 60px;
}

.box-subtitle {
    padding: 0 150px;
}

.blue-button {
    background-color: rgb(0, 113, 227);
    border: none;
    color: white;
    width: 58px;
    height: 35px;
    border-radius: 50px;
    font-size: 15px;
    outline: inherit;
}

.text-box {
    padding: 0 150px;   
    font-size: 15px;
}

.box-foot {
    width: 35px;
    margin-top: 60px;
    margin-bottom: 10px;
}

.final-subt {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.p-text {
    margin: 5px;
    
}

.final {
    font-size: 14px;
}

.footer {
    margin-top: 30px;
    height: 70px;
    background-color: rgb(245, 245, 247);
    color: rgb(81, 81, 84);
    font-size: 12px;
    display: inline-block;
    width: 100%;
    text-align: left;
    padding-left: 130px;
}

.footer-links {
    margin: 5px 15px 0 0;
    border-right: 1px solid #d2d2d7;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(81, 81, 84);
    padding: 0 15px 0 0;    
}
.footer-links-2 {
    margin: 5px 15px 0 0;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(81, 81, 84);
    padding: 0 15px 0 0; 
}