html {
  background-color: #e9e9e9;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.div-header {
  padding-left: 200px;
}

.my-photo {
  max-width: 200px;
  margin: 20px;
  display: inline-block;
}

.my-photo img {
  margin: 27px 0 0 0;
  border-radius: 50%;
  border: 0;
}

h1 {
  margin: 0;
  margin-top: 50px;
}

h2 {
  margin: 0 0 10px 0;
  font-weight: inherit;
}

h4 {
  margin: 0;
}

p {
  margin: 0 0 10px 0;
  font-weight: initial;
  font-size: 16px;
  font-style: italic;
}

.header-content {
  width: 60%;
  display: inline-block;
  vertical-align: top;
}

section {
  margin: 10px;
  text-align: center;
}

.section-header {
  cursor: pointer;
}

.experience,
.studies {
  display: none;
}

.button {
  
  margin-top: 15px;
  background-color: rgb(0, 113, 227);
  border: none;
  color: white;
  width: 58px;
  height: 35px;
  border-radius: 50px;
  font-size: 15px;
  outline: inherit;
}

.button:hover {
  background-color: rgb(0, 140, 227);
}

.active {
  display: block;
  background-color: azure;
  padding: 10px;
}

.social-button {
  text-align: center;
  display: block;
}